$width-small: 320px;
$width-medium: 400px;

@media only screen and (-moz-min-device-pixel-ratio: 2),
       only screen and (-o-min-device-pixel-ratio: 2/1),
       only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (min-device-pixel-ratio: 2) {
 /*use CSS to swap out your low res images with high res ones here*/
}

@mixin responsive($width) {
  @if $width == wide-screens {
    @media only screen and (max-width: $width-large) {
      @content;
    }
  }
  @else if $width == medium-screens {
    @media only screen and (max-width: $width-medium) {
      @content;
    }
  }
}

@media only screen and (device-width: 768px) and (device-height: 1024px) and
    (min-aspect-ratio: 4/3) {
  /* landscape differences here */
}

//En uso
@mixin media($breakpoint) {
  $mq-XS: "(min-width: 320px) and (max-width: 361px)";
  $mq-S: "(min-width: 320px) and (max-width: 1023px)";
  $mq-SM: "(min-width: 359px) and (max-width: 1023px)";
  $mq-M: "(min-width: 1023px) and (max-width: 1200px)";
  $mq-L: "(min-width: 1200px)";
  $mq-ML: "(min-width: 1023px)";
  $mq-keyboard: "(min-aspect-ratio: 6/7)";
  @if $breakpoint==XS {
    @media #{$mq-XS} {
      @content;
    }
  }
  @if $breakpoint==S {
    @media #{$mq-S} {
      @content;
    }
  }
  @if $breakpoint==SM {
    @media #{$mq-SM} {
      @content;
    }
  }
  @else if $breakpoint==M {
    @media #{$mq-M} {
      @content;
    }
  }
  @else if $breakpoint==L {
    @media #{$mq-L} {
      @content;
    }
  }
  @else if $breakpoint==ML {
    @media #{$mq-ML} {
      @content;
    }
  }
  @else if $breakpoint==KEY {
    @media #{$mq-keyboard} {
      @content;
    }
  }
}
