@mixin title-font($color: $mainQuestion, $size: 16px) {
  font-size: $size;
  color: $color;
  font-weight: 500;
  line-height: $size + 3px;
  @include media(SM) {
    font-size: $size + 7px;
    line-height: $size + 10px;
  }
}

@mixin detail-font($color: #292929, $size: 12px) {
  line-height: $size + 1px;
  color: $color;
  font-size: $size;
  font-weight: 400;
  @include media(SM) {
    font-size: $size + 3px;
    line-height: $size + 4px;
  }
}

@mixin back-font($color: grey, $size: 11px) {
  line-height: $size + 1px;
  color: $color;
  font-size: $size;
  font-weight: 300;
  @include media(SM) {
    font-size: $size + 4px;
    line-height: $size + 5px;
  }
}

@mixin base-font($color: #414141, $size: 14px) {
  font-weight: 300;
  font-size: $size;
  color: $color;
  @include media(SM) {
    font-size: $size + 2px;
    line-height: $size + 3px;
  }
}

.title-font {
  font-size: 16px;
  color: $mainQuestion;
  font-weight: 600;
}

.detail-font {
  line-height: 11px;
  color: $maintag;
  font-size: 10px;
}

.base-font {
  font-size: 13px;
  color: $maintag;
}
