@mixin videogularMAX {
  .videogular-container {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  vg-media {
    width: 100%;
    display: flex !important;
    @extend %justify-content-center;
    @extend %align-items-center;
    video {
      height: auto !important;
    }
  }
  vg-poster {
    width: 100%;
    display: flex !important;
    @extend %justify-content-center;
    @extend %align-items-center;
    img {
      height: 100% !important;
      height: 100% !important;
    }
  }
  vg-controls {
    height: 25px !important;
    .controls-container {
      height: 25px !important;
    }
  }
  vg-scrub-bar {
    width: 100% !important;
    &>div:first-child {
      margin: 12.5px 0 !important;
    }
  }
  vg-time-display {
    width: 30px !important;
    line-height: 12px !important;
    color: white !important;
    font-size: 12px !important;
    padding: 0 9px;
  }
  vg-mute-button {
    width: 30px !important;
    button {
      padding: 7px !important;
    }
  }
  vg-buffering {
    .bufferingContainer {
      margin-top: -15px !important;
      div {
        border-bottom: 2px solid black !important;
        border-right: 2px solid black !important;
        border-top: 2px solid transparent !important;
        border-left: 2px solid transparent !important;
        width: 30px !important;
        height: 30px !important;
        -moz-animation: spin 1s infinite linear !important;
        -webkit-animation: spin 1s infinite linear !important;
        box-shadow: none !important;
      }
    }
  }
}
